html {
  box-sizing: border-box;
}
html * {
  box-sizing: inherit;
}
body {
  font-family: 'SpoqaHanSansNeo-Regular';
}
body * {
  font-family: inherit;
}

#root {
  padding: 0 1.5rem;
  min-height: 100vh;
}
#main { /**/ }
