html {
  box-sizing: border-box;
}
html * {
  box-sizing: inherit;
}
body {
  font-family: 'SpoqaHanSansNeo-Regular';
  line-height: 1.5;
}
body * {
  font-family: inherit;
}

#root {
  padding: 0 1.5rem;
  min-height: 100vh;
}
#main { /**/ }

/* 시각적으로 숨기는 역할을 합니다. */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}