@import '../presets/sizes.scss';
@import '../presets/colors.scss';

html {
	font-size: 16px;
	box-sizing: border-box;
}
html * {
	box-sizing: inherit;
}
body {
  font-family: 'SpoqaHanSansNeo-Regular', 'Arial';
  background-color: $bg;
}

.layoutBoundary {
  margin: 0 auto;
  width: $serviceWidth;
  max-width: $serviceWidth;
}

.service-title {
  display: none;
  width: 0;
  height: 0;
}