@import '../../../styles/presets/colors.scss';

.common {
  flex-shrink: 0;
  padding: .375rem .75rem;
  height: 2.5rem;
  vertical-align: middle;
  font-family: 'SpoqaHanSansNeo-Light';
  border: 0;
  border-radius: .25rem;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: .15s;
  transition-timing-function: ease-in-out
}
.button {
  @extend .common;
}
.anchor {
  @extend .common;
  display: flex;
  align-items: center;
}
.primary {
  color: #fff;
  background-color: $primary;
  &:hover {
    background-color: $primary700;
  }
}
.secondary {
  color: #fff;
  background-color: $secondary;
}
.tertiary {
  color: #fff;
  background-color: $tertiary;
}
.quaternary {
  color: #fff;
  background-color: $quaternary;
}
.error {
  color: #fff;
  background-color: $error;
}
.warn {
  color: #fff;
  background-color: $warn;
}
.success {
  color: #fff;
  background-color: $success;
}

