@import '../../styles/presets/colors.scss';

.logo {
  padding: 8px 15px;
  width: 7rem;
  font-size: 1.5rem;
}
.logo > a {
  text-align: center;
  color: $secondary;
}
.logo span {
  color: $primary;
  font-weight: 500;
}
